<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>Your Shows</h2>
<ul>
	<% @user.list_shows.each do |myshow| %>
		<li><%= myshow.show.title %> <%= link_to "Delete", list_show_path(myshow), method: :delete %></li>
	<% end %>
</ul>
