<h1>Listing list_shows</h1>

<table>
  <tr>
    <th>Show</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_shows.each do |list_show| %>
  <tr>
    <td><%= list_show.show_id %></td>
    <td><%= list_show.user_id %></td>
    <td><%= link_to 'Show', list_show %></td>
    <td><%= link_to 'Edit', edit_list_show_path(list_show) %></td>
    <td><%= link_to 'Destroy', list_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List show', new_list_show_path %>
