<!DOCTYPE html>
<html>
<head>
  <title>TvNotifier</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>TV Notifier</h1>
	<p>A website to help you manage TV shows you watch and notify you when a new episode is airing.</p>
	<p>Currently the show list is maintained by the community, but thetvdb.com integration is in the future</p>

	<div id="columns">
		<%= link_to "Shows", shows_path %>
		<% if session[:user_id] %>
			<%= link_to "My Account", user_path(session[:user_id]), method: :get %>
			<%= link_to "Logout", logout_path, method: :delete %>
		<% else %>
			<%= link_to "Login", login_path %>
			<%= link_to "Create Account", new_user_path %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>